.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    &--primary {
        color: #fff;
        background-color: #4f2ac3;
    }

    &--primary:hover {
        background-color: #6148ac;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (max-width: 1024px) {
        display: flex;
        padding-left: 200px;
    }
}